html {
    scroll-behavior: smooth;
}

body
{   
    margin: 0px;
    background-image: url("../static/background.png");
    background-size: cover;
    background-position: no-repeat;
    position: static;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.font1{
    font-family: Anton;
    font-size: 16;
    font-weight: 500;
    text-align: center;
}

.font2{
    font-family: Vollkorn;
    font-size: 16;
    text-decoration-color: #000;
    text-align: justify;
}

.font2-{
    font-family: Vollkorn;
    font-size: 16;
    text-decoration-color: #000;
    text-align: center;
    font-weight: 600;
}

.font3{
    font-family: Cookie;
    text-align: center;
}

.navbar {
    background:#D199A7;
}

.nav-link,
.navbar-brand {
    color: white;
    cursor: pointer;
}
      
.nav-link:hover {
    color: #000;
}
      
.navbar-collapse {
    justify-content: flex-end;
}

.vl {
    border-left: 4px solid black;
    height: 350px;
    padding-right: 10px;
}

.rectangle{
    height: 350px;
    padding-top: 50px;
    padding-bottom: 50px ;
    background-color: goldenrod;
}

.rectangle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.about_ {
    align-content: center;
    font-family: Vollkorn;
    font-size: 16;
    text-decoration-color: #000;
    text-align: justify;
}

.square_ {
    width: 100%;
    background-color: goldenrod;
}

.square_:before {
    content: "";
    display: block;
    padding-bottom: 20%;
}

.oval {
    margin-left: 50px;
    margin-top: 10px;
    height: 50px;
    width: 300px;
    background-color: #C4C4C4;
    border-radius: 25px;
    text-align: center;
}

.oval:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle {
    height: 5%;
    width: 5%;
    background-color: antiquewhite;
    border-radius: 50%;
}

#exp {
    margin-top: 100px;
}

.bg {
    background-color: rgb(248, 184, 248);
}

.bg1 {
    background-color:goldenrod;
}
.bg2 {
    background-color: paleturquoise;
}

section {
    padding: 2rem;
    margin: 0 0 2rem 0;
}
